/* custom css rules */

body {
	margin-top: 0;
	font-family: "Baskerville", Times, serif;
	background-color: #ffffff;
	text-align: center
}

#vis-header {
	height: 150vh;
}

h1{
	text-align: center;
	margin-top: 150px;
	margin-bottom: 150px;
}

img {
	/*width: 600px;*/
	/*height: 531px;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.image_captions {
	font-size: 12px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#intro-paragraph-info {
	text-indent: 2em;
	text-align: left;
	margin-top: 20px;
	margin-right: 180px;
	margin-left: 180px;
}

#area-chart-info {
	text-indent: 2em;
	text-align: left;
	margin-top: 20px;
	margin-right: 180px;
	margin-left: 180px;
}

h5 {
	color: maroon;
}

#clock {
	 fill: maroon;
}
#yearmonth {
	color: maroon;
}

path {
	stroke: #333;
	stroke-width: 1;
}
path:hover {
	stroke-width: 3;
}

.axis line,
.axis path {
	fill: none;
	stroke: #555;
	shape-rendering: crispEdges;
}

.tick text {
	font-family: sans-serif;
	font-size: 11px;
	fill: #555;
}

#priovis .x-axis text {
	font-weight: 600;
}

.area {
	fill: #825a5a;
}

.area.area-prices {
	fill: #94a97a;
}
